@import "../../scss/variablesSCSS";

.SystemSettings{
  padding: 30px 40px;

  &-item{
    margin-top: 10px;
    max-width: 330px;
    &:first-child{
      margin-top: 0;
    }
    &.is-short{
      width: 220px;
      .form-control{
        width: 80px;
      }
    }
  }

  &-label, label.control-label{
    display: flex;
    align-items: center;
  }

  &-label-text{
    width: 125px;
    min-width: 125px;
    margin-right: 15px;
    color: $nobelGrayColor;
    font-size: 12px;
    .SystemSettings-switch-wrap &{
      width: 112px;
      min-width: 112px;
    }
  }

  .form-control{
    height: 28px;
    width: 188px;
  }

  &-switch-wrap{
    margin-top: -6px;
  }

  &-btns{
    display: flex;
    align-items: center;
    margin-top: 20px;
    .btn:first-child{
      margin-right: 17px;
    }
  }

}
